
.visualizer-container {
  .visualizer {
    .board-container {
      height: calc(100% - 70px);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      .board {
        display: flex;
        flex-direction: column;
        border: 0.5px solid $borders-color;

        .row {
          display: flex;

          .cell {
            box-sizing: border-box;
            height: 24px;
            width: 24px;
            border: 0.5px solid $borders-color;
            position: relative;
          }

          .cell.wall::after, .cell.visited::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            animation: makeWall 0.3s;
          }

          @keyframes makeWall {
            0% {
              transform: scale(0.1);
              border-radius: 50%;
            }

            70% {
              transform: scale(1.3);
              border-radius: 2px;
            }

            100% {
              transform: scale(1);
            }
          }


          .start-pos {
            background-image: url('../../images/icons/map-marker-alt-solid.svg');
            background-repeat: no-repeat;
            background-position: center;
          }

          .finish-pos {
            background-image: url('../../images/icons/flag-checkered-solid.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      .timer {
        position: absolute;
        top: 0;
        right: 0;
        width: 15%;
        height: 10%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $timer-color;
        border-radius: 5px 5px 0 0;
        z-index: 50;
        font-size: $font-size-timer;

        .hover-icon {
          position: absolute;
          right: 0;
          bottom: 0;
          margin: 5px;
          font-size: $font-size-timer-dropdown;
        }

        .dropdown-content {
          font-size: $font-size-timer-dropdown;
          background: $timer-color;

          a {
            background: $timer-color-darker;
          }

          li {
            pointer-events: none;
          }
        }
      }

      // ----------------- THEMES ----------------- //

      .board.teal {
        border-color: $theme-color-teal;

        .cell {
          border-color: $theme-color-teal;
        }

        .cell.wall::after {
          background: $theme-color-teal-wall;
        }

        .cell.visited::after {
          background: $theme-color-teal-visited-three;
          animation: makeVisitedTeal 1s;
        }

        @keyframes makeVisitedTeal {
          0% {
            transform: scale(0.1);
            border-radius: 50%;
            background: $theme-color-teal-visited-one;
          }

          40% {
            transform: scale(0.5);
            background: $theme-color-teal-visited-two;
            border-radius: 10px;
          }

          90% {
            transform: scale(1);
            background: $theme-color-teal-visited-three;
            border-radius: 5px;
          }
        }
      }

      .board.tan {
        border-color: $theme-color-tan;

        .cell {
          border-color: $theme-color-tan;
        }

        .cell.wall::after {
          background: $theme-color-tan-wall;
        }

        .cell.visited::after {
          background: $theme-color-tan-visited-three;
          animation: makeVisitedTan 1s;
        }

        @keyframes makeVisitedTan {
          0% {
            transform: scale(0.1);
            border-radius: 50%;
            background: $theme-color-tan-visited-one;
          }

          40% {
            transform: scale(0.5);
            background: $theme-color-tan-visited-two;
            border-radius: 10px;
          }

          90% {
            transform: scale(1);
            background: $theme-color-tan-visited-three;
            border-radius: 5px;
          }
        }
      }

      .board.lavender {
        border-color: $theme-color-lavender;

        .cell {
          border-color: $theme-color-lavender;
        }

        .cell.wall::after {
          background: $theme-color-lavender-wall;
        }

        .cell.visited::after {
          background: $theme-color-lavender-visited-three;
          animation: makeVisitedLavender 1s;
        }

        @keyframes makeVisitedLavender {
          0% {
            transform: scale(0.1);
            border-radius: 50%;
            background: $theme-color-lavender-visited-one;
          }

          40% {
            transform: scale(0.5);
            background: $theme-color-lavender-visited-two;
            border-radius: 10px;
          }

          90% {
            transform: scale(1);
            background: $theme-color-lavender-visited-three;
            border-radius: 5px;
          }
        }
      }
    }

  }
}
